:root {
  --greek-navy: #034488;
  --greek-sea: #168fd6;
  --greek-wall: #fffcf5;
  --heading-font: 'Poiret One';
  --heading-spacing: 1rem;
  --paragraph-spacing: .4rem;
  --paragraph-line-height: 3.6rem;
  --paragprah-size: 1.8rem;
}

body {
  background: var(--greek-wall);
}

section.header.banner {
  height: 100vh;
  width: 100vw;
  background: url('/images/banner.jpg') no-repeat center center fixed;
  color: var(--greek-wall);
}

h1, h2 {
  color: var(--greek-sea);
}

h3, h4 {
  color: var(--greek-navy);
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
  letter-spacing: var(--heading-spacing);
  text-align: center;
}

h1 {
  color: var(--greek-wall);
}

@media(min-width: 900px) {
  h1 {
    font-size: 8rem;
  }
}

@media(min-width: 1400px) {
  html {
    scroll-behavior: smooth;
  }

  section.navigation ul {
    position: fixed;
    top: 2rem;
    right: 2rem;
    list-style-type: none;
  }

  section.navigation ul li {
    text-align: right;
  }

  section.navigation ul li a {
    color: var(--greek-sea);
    text-decoration: none;
    font-size: 1.2rem;
  }
}

@media(max-width: 600px) {
  section.navigation {
    display: none;
  }

  p, span, ul, li {
    text-align: left;
  }
}

section.introduction {
  margin-top: 15%;
}

section.menu {
  margin-bottom: 15%;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

p, span, ul, li {
  letter-spacing: var(--paragraph-spacing);
  line-height: var(--paragraph-line-height);
  font-size: var(--paragprah-size);
  color: var(--greek-navy);
  text-align: justify;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.menu-title {
  font-family: 'Poiret One';
}